{% extends "base.html" %}

{% block content %}

	<div style="border: 1px solid blue; margin: 1em 1em; padding: 1em; display: block; margin-right: auto; margin-left: auto; width: 55%; margin-bottom: 50px;">
		<h4 style="text-align: center;">Your email has been verified successfully.</h4>
		<h5 style="text-align: center;">You may now <a href="{% url 'account:index' %}">Log In</a>.</h5>
	</div>

{% load welcome_entry %}
{% welcome_entry %}

{% endblock %}
